<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sixth</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>
  <body>
    <header class="header">
      <ul class="d-flex justify-content-between container">
        <a href="index.html"><h1 class="text-primary">Craftsman</h1></a>
        <li class="">
          <ul class="d-flex  <%- light %> ">
            <li class="mr-12"><a class="text" href="products.html">Product</a></li>
            <li class="mr-12"><a class="text" href="">Blog</a></li>
            <li class="mr-12"><a class="text" href="">Contact</a></li>
            <li><a class="text" href="" ><span class="material-icons ">shopping_cart</span></a></li>
          </ul>
        </li>
      </ul>
    </header>
    
    <%- contents %>
    <div class="subscribe">
      <ul class="container">
        <li class="title mb-12">Subscribe for news <br> and special offers!</li>
        <li class="row">
          <div class="col-5 input-group mb-3 ">
            <input type="text" class="form-control btn btn-outline-white-2 emailinput font-2" placeholder="Your email address" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-secondary emailbtn font-2" type="button" id="button-addon2">Subscribe</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <footer class="footer bg-primary">
      <ul class="d-flex justify-content-between container">
        <li class="d-flex">
          <a class="mr-4" href="index.html"><h1 class="text-white">Craftsman</h1></a>
          <p class="text">© 2020. All Rights Reserved.</p>
        </li>
        <li>
          <ul class="d-flex">
            <li class="mr-12"><a class="text" href="">Purchase Policy</a></li>
            <li class="mr-12"><a class="text" href="">Privacy Policy</a></li>
            <li><a class="text" href="">Terms & Conditions</a></li>
          </ul>
        </li>
      </ul>
      
    </footer>
    
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>