body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;
}

ol,
ul,
dl {
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}

p{
  margin-bottom: 0;
}

a{
  text-decoration:none;
  &:hover{
    text-decoration:none;
  }
}

img{
    display: block;
    // 讓圖片自適應
    max-width: 100%;
    height: auto;
}